<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-start align-items-center">
      <p class="mb-0"><b>© Meta 2024.</b> The Apple and Google Play logos are trademarks of their respective owners.</p>
    </div>
    <div class="col d-flex justify-content-between align-items-center">
      <a href="https://www.facebook.com/privacy/policy">Privacy Policy</a>
      <a href="https://www.facebook.com/privacy/policies/cookies/?entry_point=cookie_policy_redirect&entry=0">Privacy
        Policy</a>
      <a href="">Privacy Policy</a> <!-- TODO: Toto naprogramovat -->
      <a href="https://www.facebook.com/policies_center/">Privacy Policy</a>
      <img ngSrc="/icons/meta-logo.png" alt="Meta logo" height="94" width="100">
    </div>
  </div>
</div>
