.chat-control-icon {
  border-radius: 2rem;
  padding: 0.5rem;
}

.chat-control-icon:hover {
  background-color: #ececec;
  border-radius: 2rem;
  padding: 0.5rem;
}

.custom-col {
  width: 40px; /* Adjust this value as needed */
  max-width: 40px;
}


