<div class="container">
  <div class="row heightTest">
    <app-base-navbar class="p-0"></app-base-navbar>
  </div>
</div>

<!-- Card - More ways to stay connected -->
<div class="container-fluid mt-4">
  <div class="row main-card-horizontal-padding main-card-vertical-padding">
    <div class="col-12 col-lg-6 p-0">
      <div class="width-25-rem">
        <div class="mb-custom">
          <h1 class="gradient-text login-title mb-0">More ways</h1>
          <h1 class="gradient-text login-title mb-0">to stay</h1>
          <h1 class="gradient-text login-title mb-0">connected</h1>
        </div>
        <p>Messenger has everything you need to feel closer to your favourite people.</p>
      </div>
    </div>
    <div class="col-12 col-lg-6 p-0 position-relative overflow-visible">
      <img ngSrc="/images/features-page/more-ways-to-stay-connected.png"
           class="object-fit-cover position-absolute w-100 h-auto" alt="More ways to stay connected image"
           height="1440" width="1696">
    </div>
  </div>
</div>

<!-- Card - Enjoy videos with your friends -->
<div class="container-fluid card-height darker-bg d-flex align-items-center card-horizontal-padding">
  <div class="row ps-5">
    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-end">
      <div class="width-25-rem">
        <p class="letter-spacing-1 small-label">WATCH TOGETHER</p>
        <div class="mb-custom text-start">
          <h1 class="title mb-0 ms-1">Enjoy videos</h1>
          <h1 class="title mb-0 ms-1">with your</h1>
          <h1 class="title mb-0 ms-1">friends</h1>
        </div>

        <p class="mb-custom text-start">Watch movies, music videos, TV shows and more with your friends over video
          chat.</p>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <video autoplay loop muted class="custom-video-size">
        <source src="/images/features-page/enjoy-videos-with-your-friends.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

<!-- Card - Say it with any emoji -->
<div class="container-fluid card-height d-flex align-items-center ps-5">
  <div class="row ps-5">
    <div class="col-12 col-lg-6">
      <video autoplay loop muted class="custom-video-size-2">
        <source src="/images/features-page/say-it-with-any-emoji.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-end pe-5">
      <div class="width-26-rem">
        <p class="letter-spacing-1 small-label">CUSTOM REACTIONS</p>
        <div class="mb-custom text-start">
          <h1 class="title mb-0 ms-1">Say it with</h1>
          <h1 class="title mb-0 ms-1">any emoji</h1>
        </div>

        <p class="mb-custom text-start">Lost for words? Now you can customize your reactions, with way more emojis to
          choose from, including 🎉 and 🔥.</p>
      </div>
    </div>
  </div>
</div>

<!-- Card - Express yourself -->
<div class="container-fluid">
  <div class="row card-vertical-padding">
    <div class="col-6 text-center">
      <div>
        <p class="letter-spacing-1 small-label">ANIMATED EFFECTS</p>
        <div>
          <h1 class="title mb-0 ms-1">Express</h1>
          <h1 class="title mb-0 ms-1">yourself</h1>
        </div>
      </div>
    </div>
    <div class="col text-center">
            <img ngSrc="/images/features-page/express-yourself.png" alt="More ways to stay connected image"
                 height="1368" width="1270">
    </div>
  </div>
</div>
