<div class="container">
  <div class="row heightTest">
    <app-base-navbar class="p-0"></app-base-navbar>
  </div>
</div>

<div class="container mt-0 pb-5">
  <div class="row d-flex justify-content-between">
    <div class="col pt-5">
      <div class="div width-25-rem">
        <h2 class="m-0 gradient-text login-title">More ways</h2>
        <h2 class="m-0 gradient-text login-title">to stay</h2>
        <h2 class="m-0 gradient-text login-title">connected</h2>
        <p class="m-0 mt-3">Messenger has everything you need to feel closer to your favorite people.</p>
      </div>
    </div>

    <div class="col d-flex align-items-center justify-content-end">
      <img ngSrc="/images/features-page/more-ways.png" class="img-fluid test" height="1440"
           width="1696" alt="More ways to stay connected splash image">
    </div>
  </div>
</div>

<div class="row card-height darker-bg">
  <div class="col d-flex justify-content-end align-items-center">
    <div class="div width-25-rem">
      <p class="letter-spacing-2">WATCH TOGETHER</p>
      <h2 class="title">Enjoy videos</h2>
      <h2 class="title">with your</h2>
      <h2 class="title">friends</h2>
      <p>Watch movies, music videos, TV shows and more with your friends over video chat.</p>
    </div>
  </div>

  <!-- This is just for space -->
  <div class="col-1"></div>

  <div class="col d-flex justify-content-start align-items-center">
    <video autoplay loop muted>-->
      <source src="/images/features-page/enjoy-videos.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<div class="row card-height">
  <div class="col d-flex justify-content-end align-items-center">
    <video autoplay loop muted style="width: 100%; max-width: 350px; height: auto;">
      <source src="/images/features-page/say-it-with-any-emoji.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- This is just for space -->
  <div class="col-1"></div>

  <div class="col d-flex justify-content-start align-items-center">
    <div class="div width-26-rem">
      <p class="letter-spacing-2">CUSTOM REACTIONS</p>
      <h2 class="title">Say it with</h2>
      <h2 class="title">any emoji</h2>
      <p>Lost for words? Now you can customize your reactions, with way more emojis to choose from, including 🎉 and 🔥.</p>
    </div>
  </div>
</div>

<div class="row card-height mt-for-navbar d-flex align-items-center darker-bg">
  <div class="col p-0 d-flex justify-content-end align-items-start">
    <div class="div width-25-rem">
      <p class="letter-spacing-2">ANIMATED EFFECTS</p>
      <h2 class="title">Express</h2>
      <h2 class="title">yourself</h2>
      <p>Bring your conversations to life with fun AR effects, message effects and selfie stickers*.</p>
      <p class="footer pt-5">*Available on iOS only</p>
    </div>
  </div>

  <!-- This is just for space -->
  <div class="col-1"></div>

  <div class="col p-0 d-flex justify-content-start align-items-center">
    <img ngSrc="/images/features-page/express-yourself.png" class="img-fluid test" height="1368" width="570" alt="More ways to stay connected splash image">
  </div>
</div>

<div class="row card-height d-flex align-items-center">
  <div class="col d-flex justify-content-end align-items-center">
    picker
  </div>
  <div class="col d-flex justify-content-end align-items-center">
    <img ngSrc="/images/features-page/express-yourself-1.png" class="img-fluid test" height="1222" width="360"
         alt="More ways to stay connected splash image">
  </div>
  <div class="col d-flex justify-content-start align-items-center">
    <div class="div width-25-rem">
      <p class="letter-spacing-2">CHAT THEMES</p>
      <h2 class="title">Your chats</h2>
      <h2 class="title">your way</h2>
      <p>Choose from fun themes and colors to make your chats more personal ❤️ 🏳️‍🌈</p>
    </div>
  </div>
</div>

<div class="row card-height mt-for-navbar darker-bg d-flex align-items-center darker-bg">
  <div class="col-5 p-0 d-flex justify-content-end align-items-start">
    <div class="div width-25-rem">
      <p class="letter-spacing-2">REPLIES & FORWARDING</p>
      <h2 class="title">Let the</h2>
      <h2 class="title">conversation</h2>
      <h2 class="title">flow</h2>
      <p>Choose the exact message you want to reply to or forward, right in your chat.</p>
    </div>
  </div>

  <!-- This is just for space -->
  <div class="col-1"></div>

  <div class="col p-0 d-flex justify-content-start align-items-center">
    <img ngSrc="/images/features-page/let-the-conversation-flow.png" class="img-fluid test" height="1362" width="670" alt="More ways to stay connected splash image">
  </div>
</div>

<div class="row card-height">
  <div class="col d-flex justify-content-end align-items-center">
    <video autoplay loop muted style="width: 100%; max-width: 320px; height: auto;">
      <source src="/images/features-page/keep-your-extra.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <!-- This is just for space -->
  <div class="col-1"></div>

  <div class="col d-flex justify-content-start align-items-center">
    <div class="div width-26-rem">
      <p class="letter-spacing-2">APP LOCK</p>
      <h2 class="title">Keep your</h2>
      <h2 class="title">chats extra</h2>
      <h2 class="title">secure</h2>
      <p>Opt in to use your device’s face or fingerprint ID to unlock Messenger, so only you have access to your chats.</p>
      <p class="footer pt-5">*Available on iOS only</p>
    </div>
  </div>
</div>

<div class="row card-height mt-for-navbar darker-bg d-flex align-items-center darker-bg">
  <div class="col-5 p-0 d-flex justify-content-end align-items-start">
    <div class="div width-25-rem">
      <p class="letter-spacing-2">PAYMENTS</p>
      <h2 class="title">Send money to</h2>
      <h2 class="title">friends & family</h2>
      <p>Send and receive money securely and easily by adding your debit card, PayPal account or reloadable prepaid card.*</p>
      <p class="footer pt-5">*Available in the US only. Single-source cards eligible for sending money only.</p>
    </div>
  </div>

  <!-- This is just for space -->
  <div class="col-1"></div>

  <div class="col p-0 d-flex justify-content-start align-items-center">
    <img ngSrc="/images/features-page/send-money.png" class="img-fluid test" height="1222" width="514" alt="More ways to stay connected splash image">
  </div>
</div>

<div class="row card-height d-flex align-items-center">
  <div class="col d-flex justify-content-end align-items-center">
    <img ngSrc="/images/features-page/connect-with-businesses.png" class="img-fluid test" height="1222" width="450"
         alt="More ways to stay connected splash image">
  </div>

  <!-- This is just for space -->
  <div class="col-1"></div>

  <div class="col d-flex justify-content-start align-items-center">
    <div class="div width-25-rem">
      <p class="letter-spacing-2">BUSINESS</p>
      <h2 class="title">Connect with</h2>
      <h2 class="title">businesses</h2>
      <p>Find deals, make reservations and get customer support by chatting with your favorite businesses right from Messenger.</p>
    </div>
  </div>
</div>

<app-base-footer></app-base-footer>
