.chat-picker {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.chat-picker svg {
  position: absolute;
  left: 10px;
}

.chat-picker input {
  padding-left: 30px;
  width: 100%;
}

.chats-panel-input {
  border-radius: 1rem;
}
