.card-border-radius {
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: "Helvetica Medium", sans-serif;
}

.topbar-icon {
  background-color: #ececec;
  border-radius: 1rem;
  cursor: pointer;
}
