.card-border-radius {
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: "Helvetica Medium", sans-serif;
}

.topbar-icon {
  background-color: #ececec;
  border-radius: 1rem;
  cursor: pointer;
}

.chats-panel-input {
  border-radius: 1rem;
}

.input-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-icon svg {
  position: absolute;
  left: 10px;
}

.input-icon input {
  padding-left: 30px;
  width: 100%;
}

