html, body {
  height: 100%;
  font-family: 'Helvetica Roman', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Helvetica Roman", sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  color: #168AFF;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #737373;
  font-size: 1.05rem;
  letter-spacing: 0.04rem;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}
