.btn {
  font-family: "Helvetica Medium", sans-serif;
  border-radius: 3rem !important;
  padding: 0.5rem 1.2rem !important;
}

.btn-primary {
  background-color: #168AFF !important;
}

.btn-primary:hover {
  background-color: #6444ef !important;
}
