<div class="row h-100 w-100 p-3">
  <div class="p-0 d-flex" [ngClass]="areControlsExtended ? 'col-5' : 'col-4'">
    <div class="row w-100">
      <div class="p-0" [ngClass]="areControlsExtended ? 'col-4' : 'col-2'">
        <app-controls-panel [user]="user" (controlsExtended)="resizeTabs($event)"></app-controls-panel>
      </div>
      <div class="col p-0">
        <app-chats-panel></app-chats-panel>
      </div>
    </div>
  </div>
  <div class="col p-0">
    <app-chat-detail-panel></app-chat-detail-panel>
  </div>
</div>
