<div class="container">
  <app-base-navbar></app-base-navbar>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-5 d-flex flex-column align-items-start justify-content-start mb-5">
      <h1 class="m-0 gradient-text login-title">Go big with</h1>
      <h1 class="m-0 mb-4 gradient-text login-title">Messenger</h1>
      <p class="mb-4">A simple app that lets you text, video call, and stay close to people you care about. For Mac and PC.</p>
      <button class="btn btn-primary d-flex align-items-center justify-content-between">
        <span class="p-1"><img ngSrc="/icons/outline/download.svg" class="me-1" alt="Download image" height="20" width="20">Download for Windows</span></button>
    </div>
    <div class="col-7">
      <img ngSrc="/images/desktop-app-page/main-splash.png" class="me-1" alt="Download image" height="602" width="916">
    </div>
  </div>
  <app-base-footer></app-base-footer>
</div>
